# Creating Tables And Inserting Records

### Create MySQL Connection And Connect

In [1]:
import mysql.connector as sql

In [2]:
connection=sql.connect(host='localhost',
                      user='Swarnava',
                      password='12345',
                      database='student')

print(connection)

<mysql.connector.connection.MySQLConnection object at 0x00000199E97E6C18>

### Create Table In MySQL using Python

In [3]:
cursor=connection.cursor()

cursor.execute('CREATE TABLE studentinfo(id INT AUTO_INCREMENT PRIMARY KEY,name VARCHAR(255),subject VARCHAR(255))')

### Insert Records in Table

In [4]:
### Insert single record in Table

query='INSERT INTO studentinfo(name,subject) VALUES(%s , %s)'
value=('John','Stats')
cursor.execute(query,value)
print('Row inserted',cursor.lastrowid)

Row inserted 1

In [6]:
### Insert multiple records in Table

query='INSERT INTO studentinfo(name,subject) VALUES(%s, %s)'
values = [("Swarnava", "Stats"),
        ("Joe", "Maths"),
        ("Ankur","Data Science"),
        ("Paul","Data Science"),
        ("Vishal","Maths"),
        ("Krish","Data Science")]
cursor.executemany(query,values)
print('Row inserted',cursor.lastrowid)

Row inserted 2

### Select All

In [27]:
cursor=connection.cursor()
cursor.execute('SELECT * FROM studentinfo')

### Fetch All the Data

In [28]:
cursor.fetchall()

[(1, 'John', 'Stats'),
 (2, 'Swarnava', 'Stats'),
 (3, 'Joe', 'Maths'),
 (4, 'Ankur', 'Data Science'),
 (5, 'Paul', 'Data Science'),
 (6, 'Vishal', 'Maths'),
 (7, 'Krish', 'Data Science')]

In [15]:
### Fetch One Record At A time

cursor.fetchone()

In [22]:
X=cursor.fetchall()

In [26]:
for records in X:
    print(records)

(1, 'John', 'Stats')
(2, 'Swarnava', 'Stats')
(3, 'Joe', 'Maths')
(4, 'Ankur', 'Data Science')
(5, 'Paul', 'Data Science')
(6, 'Vishal', 'Maths')
(7, 'Krish', 'Data Science')

### Selecting Particular Rows

In [29]:
cursor.execute('SELECT * FROM studentinfo WHERE name="Swarnava"')

In [30]:
### Fetch All the Data

cursor.fetchall()

[(2, 'Swarnava', 'Stats')]

### Select Particular Columns

In [31]:
cursor.execute('SELECT subject FROM studentinfo')

#### Fetch All
cursor.fetchall()

[('Stats',),
 ('Stats',),
 ('Maths',),
 ('Data Science',),
 ('Data Science',),
 ('Maths',),
 ('Data Science',)]

In [32]:
## Select Distinct Columns

cursor.execute('SELECT DISTINCT subject FROM studentinfo')

#### Fetch All
cursor.fetchall()

[('Stats',), ('Maths',), ('Data Science',)]

In [34]:
cursor.execute('SELECT name,subject FROM studentinfo WHERE name="Swarnava" OR subject="Data Science"')

#### Fetch All
cursor.fetchall()

[('Swarnava', 'Stats'),
 ('Ankur', 'Data Science'),
 ('Paul', 'Data Science'),
 ('Krish', 'Data Science')]

### Drop Table

In [35]:
cursor.execute('DROP TABLE studentinfo')