# Creating Databases in MySQL

### Create MySQL Connection

In [1]:
import mysql.connector as sql

In [2]:
connection=sql.connect(host='localhost',user='Swarnava',password='12345')
print(connection)

<mysql.connector.connection.MySQLConnection object at 0x0000017014BC7B70>

### Creating Databases

In [4]:
cursor=connection.cursor()
cursor.execute('CREATE DATABASE employment')

In [5]:
cursor.execute('SHOW DATABASES')

In [6]:
for database in cursor:
    print(database)

('employment',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('student',)
('swarnava',)
('sys',)
('world',)

### Dropping Databases

In [7]:
cursor.execute('DROP DATABASE employment')

In [8]:
cursor.execute('SHOW DATABASES')

In [9]:
for database in cursor:
    print(database)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('student',)
('swarnava',)
('sys',)
('world',)